HTTP_ADDR=:"PORT"
HTTP_SHUTDOWN_TIMEOUT="SECONDS"

POSTGRES_USER="USER"
POSTGRES_PASSWORD="PASS"
POSTGRES_DB="NAME DB"
POSTGRES_TIMEOUT="SECONDS"

LOGGER_LVL="LVL"

TIME_ZONE="TIME ZONE"

STATS_MIN_RATINGS="NUM"

AUTH_SESSION_TTL="TIME"
AUTH_BCRYPT_COST="COST"
AUTH_COOKIE_SECURE="BOOL"

GRAFANA_ADMIN_PASSWORD="PASS"
METRICS_ADDR="PORT"